@import"cssFont-face.css";

#centro{
    width: 80%;
    height: 100%;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    margin-top:20px;
    padding-top: 20px;
}

#centro div{
    display: inline-block;
    margin: 30px;
}

#centro a{
    text-decoration: none;
    color:#cc0000;
}

table{
    border-collapse: collapse;
    width: 100%;

}
td{
    padding: 8px 40px 8px 8px;
    text-align: left;
    border-top: 1px solid #cc0000;
}
th {
    padding: 8px 40px 8px 8px;
    text-align: left;
    border-bottom: 3px solid #cc0000;
}

.flecha{
    margin: 20px 80px 0 80px;
    
}

.votos{
    text-decoration: none;
    padding: 1px;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    background-color: #cc0000;
    border-radius: 6px;
    border-color: transparent;
    width: 20px;
    font-family: fuente;
}

.votos:hover{
    color: black;
    background-color: #ffffff;
}

